/* ===== GERAL ===== */

.login-page {
    background: #f7efe7;
    position: relative;
    overflow-x: hidden;
}

/* ===== LOGO ===== */

.logo-login {
    width: 160px;
    margin-bottom: 20px;
}

/* ===== FORM ===== */

.login-form {
    width: 85%;
    margin: 0 auto;
}

.list .item-input-wrap input {
    border: 2px solid #39506a !important;
    border-radius: 12px;
    padding-left: 12px;
    font-size: 16px;
    height: 44px;
    background: transparent;
}

.item-label {
    font-size: 15px;
    color: #1a324f;
}

.register-link {
    font-size: 16px;
    color: #1c395a;
    text-decoration: underline;
}

/* ===== DIVISOR ===== */

.divider {
    text-align: center;
    margin: 18px 0;
    color: #555;
    font-size: 14px;
}

.divider span {
    padding: 0 8px;
}

/* ===== GOOGLE BUTTON ===== */

.google-btn {
    width: 100%;
    height: 45px;
    background: #ffffff;
    border: 2px solid #3c536d !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 12px;
}

.google-icon {
    width: 22px;
}

/* ===== FOOTER ===== */

.footer-login {
    position: fixed;
    bottom: 10px;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
}

.footer-login a {
    color: #fff;
    font-weight: 600;
}
