@import url(main.css);

/* ===== GERAL ===== */

.intro-page {
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.formulario {
    z-index: 5;
}

.footer-login {
    z-index: 5;
}

/* ===== TEXTOS ===== */

.intro-title {
    font-size: 28px;
    color: #3a5f7d;
    margin-top: 10px;
}

.intro-desc {
    color: var(--black);
    font-size: 15px;
    padding: 0 20px;
}

/* ===== CARD DE BENEFÍCIOS ===== */

.benefits-card {
    margin: 20px auto;
    width: 70%;
    background: var(--t_dark_blue);
    color: var(--blue);
    border-radius: 14px;
}

.benefit-item {
    margin: 10px 0;
}

.benefit-icon {
    font-size: 28px;
    margin-right: 10px;
}

.benefit-text {
    font-size: 16px;
    font-weight: 500;
}

/* ===== BOTÃO ===== */

.start-button {
    width: 80%;
    font-size: 36px;
    color: var(--dark_blue);
    z-index: 5;
}

.text_button {


    background-color: var(--white);
    color: var(--dark_blue);

    height: 55px;
    border-radius: 5px;
    border: 1px solid var(--dark_blue);
}
