@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    --dark_blue: #3a5f7d;
    --t_dark_blue: #3a5f7dd0;
    --blue: #aec9ff;
    --white: #fff8f0;
    --black: #000000;
    --gray: #d6d6d6;

    margin: 0;
    padding: 0;
}
/* ===== LOGO ===== */

.clearmind_logo {
    position: absolute;
    top: -25px;
    left: 30px;
}

.logo-intro {
    width: 150px;
}

/* fonts */

.poppins_font_title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inter_font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* ondas */

.div_ondas {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ondas {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 330px;

    background: url(../img/wave.png);
    background-size: 1000px 330px;
}

.onda_1 {
    animation: animate 30s linear infinite;
    z-index: 4;
    bottom: -35;
}
.onda_2 {
    animation: animate2 15s linear infinite;
    opacity: 0.7;
    z-index: 3;
    bottom: -25;
}
.onda_3 {
    animation: animate3 30s linear infinite;
    opacity: 0.5;
    z-index: 2;
    bottom: -15;
}
.onda_4 {
    animation: animate4 15s linear infinite;
    opacity: 0.3;
    z-index: 1;
    bottom: -10;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate4 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

/* ===== NUVENS ANIMADAS ===== */

.nuvens {
    position: absolute;
    width: 180px;
    top: 80px;
    animation: cloud-move 15s linear infinite;

    z-index: -2;
}

.nuvem_1 {
    top: 50px;
    left: -100px;
    animation-delay: 0s;
}

.nuvem_2 {
    top: 250px;
    left: -100px;
    animation-delay: 5s;
}

.nuvem_3 {
    top: 500px;
    left: -100px;
    animation-delay: 2s;
}

@keyframes cloud-move {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(120vw); }
}