@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    --dark_blue: #3a5f7d;
    --t_dark_blue: #3a5f7dd0;
    --blue: #aec9ff;
    --white: #fff8f0;
    --black: #000000;
    --gray: #a5a5a5;

    margin: 0;
    padding: 0;
}

/* ===== LOGO ===== */

/* logo esquerda */
.clearmind_logo {
    position: absolute;
    top: -25px;
    left: 30px;
}

.logo-intro {
    width: 150px;
}

/* ===== FONTS ===== */
/* Poppins = Titulo 
Inter = Subtitulo
Nunito Sans = Texto
*/

.poppins_font {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inter_font {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.nunito_font {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* ondas */

.waves_container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.waves {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 25rem;

    background: url(../img/wave.png);
    background-size: 1000px 100%;
}

.wave_1 {
    animation: animate 30s linear infinite;
    z-index: 4;
    bottom: -35;
}
.wave_2 {
    animation: animate 15s linear infinite;
    opacity: 0.7;
    z-index: 3;
    bottom: -25;
}
.wave_3 {
    animation: animate2 30s linear infinite;
    opacity: 0.5;
    z-index: 2;
    bottom: -15;
}
.wave_4 {
    animation: animate2 15s linear infinite;
    opacity: 0.3;
    z-index: 1;
    bottom: -10;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

/* ===== NUVENS ANIMADAS ===== */

.clounds_container {
    position: absolute;
    width: 12rem;
    animation: cloud-move 15s linear infinite;

    z-index: -2;
}

.clound_1 {
    top: 1rem;
    left: -10%;
    animation-delay: 0s;
}

.clound_2 {
    top: 15rem;
    left: -75%;
    animation-delay: 0s;
}

.clound_3 {
    top: 30rem;
    left: -40%;
    animation-delay: 0s;
}

@keyframes cloud-move {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(120vw); }
}