.mensg_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 1.5rem;
    gap: 4rem;

    background-image: url('../img/fundo_app.png');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}

.div_msg {
    width: 90%;
}

.titulo_mensagens{
    font-weight: bold;
    font-size: 1.5rem;
}
/* Estilização dos Cards */
.card-item {
    background: #fff;
    border: 2px solid var(--dark_blue);
    border-radius: 10px;
    margin-bottom: 12px;
    overflow: hidden;
    list-style: none;
    
}

.card-item .item-content {
    padding: 10px;
}

/* Avatar Redondo */
.rounded-avatar {
    border-radius: 50%;
    border: 1px solid #ccc;
}

/* Ícone de IA Customizado */
.ai-icon-box {
    width: 64px;
    height: 64px;
    background: #1a1a1a;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ai-text {
    color: white;
    font-size: 10px;
    font-weight: bold;
}

/* Textos */
.italic-text {
    font-style: italic;
    font-size: 0.9em;
}

/* Toolbar Inferior */
.custom-toolbar {
    background: #fff !important;
    border-top: 1px solid #333 !important;
    height: 70px !important;
}

.custom-toolbar .icon {
    font-size: 28px;
    color: #555;
}

.tab-link-active .icon {
    color: #2196f3; /* Cor do ícone ativo */
}

/* Ajuste de margens Framework7 */
.margin-horizontal {
    margin-left: 15px !important;
    margin-right: 15px !important;
}