@import url(main.css);

.page_bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* card psicologa */
.div_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_info_pscio {
    display: flex;
    flex-direction: row;
}

.info_pscio_texts {
    display: flex;
    flex-direction: column;
}

.botoes_card_psico {
    display: flex;
    flex-direction: row;
}

/* tags */

.div_tags {
    display: flex;
    flex-direction: column;
}

.tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* bio e listas */

.bio {
    
}

.bio_titulo{

}

.bio_p {

}

.bio_list {
    
}