@import url(main.css);

.sessoes_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 1.5rem;
    gap: 4rem;

    background-image: url('../img/fundo_app.png');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
}

.titulo_sessoes{
    font-weight: bold;
    font-size: 1.5rem;
}

.sessoes_agendadas {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.div_info_pscio_sessoes {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    width: 100%;
}

.div_info_pscio_sessoes img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;

    margin-left: 1rem;
}

.sessoes_card_ing {
    background-color: #ffffff;
    width: 80%;
    border: 1px solid var(--dark_blue);
    border-radius: 10px;
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

.ingressar_sessao {
    background-color: var(--dark_blue);
    min-width: 110px;
    text-align: center;
    gap: 0.5rem;
}

.session_date {
    font-size: 16px;
    font-weight: 600;
}

.session_time {
    font-size: 14px;
    color: #666;
}

/* Tabs */
.tabs-menu {
    margin: 15px;
    display: flex;
}

.tabs-menu .button {
    flex: 1;
    border-radius: 12px;
    font-weight: 600;
}

.tabs-menu .button-active {
    background: #3c5f77;
    color: white;
}

/* Botões principais */
.main-buttons {
    text-align: center;
    width: 60%;
}

.chama-teste {
    margin-bottom: 15px;
    background: #3c5f77;
    border-radius: 12px;
}

.agendar-btn {
    border: 1px solid var(--dark_blue);
    border-radius: 10px;
    font-weight: bold;
    background-color: #fff;
    color: var(--dark_blue);
}

.botao_ativado {
    background-color: var(--dark_blue);
    color: #fff;
}


.botao_n_ativado {
    background-color: #fff;
    color: var(--dark_blue);
}

.ing_infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
}