* {
    --dark_blue: #3a5f7d;
    --t_dark_blue: #3a5f7dd0;
    --blue: #aec9ff;
    --white: #fff8f0;
    --black: #000000;
    --gray: #d6d6d6;

    margin: 0;
    padding: 0;
}

/* .texto_e_card {
    border: 2px solid red;
} */

/* ===== GERAL ===== */

.intro-page {
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ===== LOGO ===== */

.clearmind_logo {
    position: absolute;
    top: -25px;
    left: 30px;
}

.logo-intro {
    width: 150px;
}

/* ===== TEXTOS ===== */

.intro-title {
    font-size: 28px;
    color: #3a5f7d;
    margin-top: 10px;
}

.intro-desc {
    color: var(--black);
    font-size: 15px;
    padding: 0 20px;
}

/* ===== CARD DE BENEFÍCIOS ===== */

.benefits-card {
    margin: 20px auto;
    width: 70%;
    background: var(--t_dark_blue);
    color: var(--blue);
    border-radius: 14px;
}

.benefit-item {
    margin: 10px 0;
}

.benefit-icon {
    font-size: 28px;
    margin-right: 10px;
}

.benefit-text {
    font-size: 16px;
    font-weight: 500;
}

/* ===== BOTÃO ===== */

.start-button {
    width: 80%;
    font-size: 36px;
    color: var(--dark_blue);
    z-index: 5;
}

.text_button {


    background-color: var(--white);
    color: var(--dark_blue);

    height: 55px;
    border-radius: 5px;
    border: 1px solid var(--dark_blue);
}
/* ===== NUVENS ANIMADAS ===== */

.cloud {
    position: absolute;
    width: 180px;
    top: 80px;
    animation: cloud-move 15s linear infinite;

    z-index: -2;
}

.cloud1 {
    top: 50px;
    left: -100px;
    animation-delay: 0s;
}

.cloud2 {
    top: 250px;
    left: -100px;
    animation-delay: 5s;
}

.cloud3 {
    top: 500px;
    left: -100px;
    animation-delay: 2s;
}

@keyframes cloud-move {
    0% { transform: translateX(-200px); }
    100% { transform: translateX(120vw); }
}

/* ondas */

.div_ondas {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ondas {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 330px;

    background: url(../img/wave.png);
    background-size: 1000px 330px;
}

.onda_1 {
    animation: animate 30s linear infinite;
    z-index: 4;
    bottom: -35;
}
.onda_2 {
    animation: animate2 15s linear infinite;
    opacity: 0.7;
    z-index: 3;
    bottom: -25;
}
.onda_3 {
    animation: animate3 30s linear infinite;
    opacity: 0.5;
    z-index: 2;
    bottom: -15;
}
.onda_4 {
    animation: animate4 15s linear infinite;
    opacity: 0.3;
    z-index: 1;
    bottom: -10;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate4 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}