@import url(main.css);

.veri_psico_page {
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botao_agendar {
    width: 80%;
    font-size: 36px;
    color: var(--dark_blue);
}

.botao_agendar_text {
    background-color: var(--blue);
    color: var(--white);

    height: 55px;
    border-radius: 5px;
    border: 1px solid var(--white);

    font-weight: bold;
    font-size: 1.2rem;
}

.div_avancar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.custom_icon {
    color: var(--blue);
}

.custom_h2 {
    color: var(--blue);
    font-weight: bold;
    font-size: 1.5rem;
}

.custom_p {
    color: var(--white);
    font-weight: bold;
    font-size: 0.9rem;
}

.custom_flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.8rem;

    z-index: 5;

    margin-top: 5rem;
}

.custom_texts_box{
    width: 90%;
}

/* Ilustração superior */
.illustration-header img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Card central com fundo bege claro */
.card-profile {
    background-color: var(--white);
    border-radius: 30px;
    width: 70%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* Avatar circular dentro do card */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Textos do Perfil */
.profile-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
}

.profile-role {
    color: var(--gray);
    margin: 4px 0;
}

.full-width {
    width: 100%;
}

.custom_link {
    font-weight: bold;
    font-size: 0.9rem;

    color: var(--white);
    text-decoration: underline;
}

.custom_perfil_link {
    color: var(--dark_blue);
    text-decoration: underline;

    font-weight: bold;
    font-size: 0.8rem;
}

.caixa_p_ondas {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;

    background-color: var(--dark_blue);
}

.decoracao {
    position: absolute;
    top: 0px;
    left: 40%;

    z-index: 5;
}

.decoracao_img {
    width: 150px;
}

/* ondas */

.div_ondas_veri {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.ondas_veri {
    position: absolute;
    bottom: 67%;
    left: 0;

    width: 100%;
    height: 330px;

    background: url(../img/wave.png);
    background-size: 1000px 330px;
}

.onda_1_veri {
    animation: animate 30s linear infinite;
    z-index: 4;
    bottom: -35;
}
.onda_2_veri {
    animation: animate2 15s linear infinite;
    opacity: 0.7;
    z-index: 3;
    bottom: -25;
}
.onda_3_veri {
    animation: animate3 30s linear infinite;
    opacity: 0.5;
    z-index: 2;
    bottom: -15;
}
.onda_4_veri {
    animation: animate4 15s linear infinite;
    opacity: 0.3;
    z-index: 1;
    bottom: -10;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes animate4 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}