@import url(main.css);

.veri_psico_page {
    background: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.botao_agendar {
    width: 80%;
    font-size: 36px;
    color: var(--dark_blue);
}

.botao_agendar_text {
    background-color: var(--blue);
    color: var(--white);

    height: 55px;
    border-radius: 5px;
    border: 1px solid var(--white);

    font-weight: bold;
    font-size: 1.2rem;
}

.div_avancar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.custom_icon {
    color: var(--blue);
}

.custom_h2 {
    color: var(--blue);
    font-weight: bold;
    font-size: 1.5rem;
}

.custom_p {
    color: var(--white);
    font-weight: bold;
    font-size: 0.9rem;
}

.custom_flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.8rem;

    z-index: 5;

    margin-top: 5rem;
}

.custom_texts_box{
    width: 90%;
}

/* Ilustração superior */
.illustration-header img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Card central com fundo bege claro */
.card-profile {
    background-color: var(--white);
    border-radius: 30px;
    width: 70%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* Avatar circular dentro do card */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

/* Textos do Perfil */
.profile-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
}

.profile-role {
    color: var(--gray);
    margin: 4px 0;
}

.full-width {
    width: 100%;
}

.custom_link {
    font-weight: bold;
    font-size: 0.9rem;

    color: var(--white);
    text-decoration: underline;
}

.custom_perfil_link {
    color: var(--dark_blue);
    text-decoration: underline;

    font-weight: bold;
    font-size: 0.8rem;
}

.ondas_veri_psico {
    bottom: 67%;
}

.caixa_p_ondas {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;

    background-color: var(--dark_blue);
}

.decoracao {
    position: absolute;
    top: 0px;
    left: 40%;

    z-index: 5;
}

.decoracao_img {
    width: 150px;
}